@import "../../global.scss";

.contact {
  background-color: whitesmoke;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 8;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img .contact {
      height: 400px;

      @include mobile {
        height: 250px;
      }
    }
  }

  .right {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;

    @include mobile {
      align-items: center;
      margin-bottom: 40px;
      overflow: hidden;
    }

    h2 {
      font-size: 30px;
      font-weight: 400;
      color: #66806a;

      @include mobile {
        font-size: 25px;
        font-weight: 400;
        padding-bottom: 5px;
        overflow: hidden;
      }
    }

    li {
      list-style: none;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 30px;
      color: #66806a;

      @include mobile {
        font-size: 15px;
        overflow: hidden;
      }

      a {
        text-decoration: none;
        color: #66806a;
      }

      a:hover {
        // color: #c84b31;
        color: #f54748;
      }
    }
  }
}

// form {
//   width: 70%;
//   height: 70%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   input {
//     width: 300px;
//     height: 30px;
//     font-size: 14px;
//   }

//   textarea {
//     width: 300px;
//   }
// }

//  /* <div className="itemContainer">
//                       <Person className="icon"/>
//                       <span>+73 680 66 24</span>
//                   </div>
//                   <div className="itemContainer">
//                       <Mail className="icon"/>
//                       <span>spengler.nike@gmail.com</span>
//                   </div>

// import {Person, Mail} from "@material-ui/icons"
// import { FaBeer } from 'react-icons/fa';
